* {
   box-sizing: border-box;
}

.main {
   margin: 0 auto;
   width: 60%;
   border: 1px solid #000
}
.main__title {
   margin-left: 20px;
}

.input-wrapper {
   margin-top: 20px;
   margin-left: 40px;
}
.list {
   margin-left: 15px;
   width: 50%;
}
.list-item {
   margin-top: 5px;
   background-color: #eee;
}
.list-item:hover {
   cursor: pointer;
}

.notes {
   margin-top: 100px;
   margin-left: 20px;
   margin-right: 20px;
}

@media (max-width: 550px) {
   .main {
      width: 100%;
   }
}